{% extends "registration/forgot_password/_base.html" %}

{% block content %}
    <div>
        <h1>Password Reset Sent</h1>

        <p>
            We've emailed you instructions for setting your new password.
            If the account you provided exists, you should recieve them shortly.
        </p>

        <p>
            If you don't recieve an email,
            please make sure you've entered the correct email address you're registered under,
            or check your spam folder.
        </p>
    </div>
{% endblock content %}